<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="baseTemplate">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
</head>
<body>
<section class="relative pt-16" layout:fragment="content">
    <div class="container mx-auto text-center">
        <h1 class="text-xl font-bold">Forbidden</h1>
        <br>
        <p class="text-red-600">You don't have permission to access this page on this server.</p>
    </div>
</section>

</body>
</html>