<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Index</title>
</head>
<body>
    <!-- NavBar -->
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">Hospital App</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Home
                </a>
                <a th:href="@{/user/index}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Patients
                </a>
                <a th:href="@{/admin/new(search=${search}, page=${page})}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    New Patient
                </a>
            </div>
            <div>
                <div sec:authorize="isAuthenticated()">
                    <span class="text-white mr-2 font-bold" sec:authentication="name"></span>
                    <a th:href="@{/logout}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-red bg-red-700 hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Logout</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End NavBar -->

    <!-- Main Content -->
    <div layout:fragment="content" class="container mx-auto px-4 py-8">
    </div>
    <!-- End Main Content -->

</body>
</html>