<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="base"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add Student</title>
</head>
<body>

<main class="container mx-auto px-4 py-8 mt-8 bg-white rounded" layout:fragment="content">
    <div class="container mx-auto flex justify-center">
        <form class="w-2/3" th:action="@{/students/add}" method="POST">
            <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Add new Student</h1>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="firstName">First Name</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="firstName" id="firstName"
                       placeholder="Student First Name"/>
                <span class="text-red-500 text-xs italic" th:errors="${student.firstName}"></span>
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="lastName">Last Name</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="lastName" id="lastName"
                       placeholder="Student First Name"/>
                <span class="text-red-500 text-xs italic" th:errors="${student.lastName}"></span>
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="email">Email</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="email" id="email"
                       placeholder="Student First Name"/>
                <span class="text-red-500 text-xs italic" th:errors="${student.email}"></span>
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="dateOfBirth">date Of BirthDay</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="date" name="dateOfBirth" id="dateOfBirth"
                       placeholder="Student date Naissance"/>
                <span class="text-red-500 text-xs italic" th:errors="${student.dateOfBirth}"></span>
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="gender">Gender</label>
                <select name="gender" id="gender" class="block w-full text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500">
                    <option>Choose a Gender...</option>
                    <option>MALE</option>
                    <option>FEMALE</option>
                </select>
                <span class="text-red-500 text-xs italic" th:errors="${student.gender}"></span>

            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md" for="enRegle">En Régle</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none"
                       type="checkbox" name="enRegle" id="enRegle"/>
                <span class="text-red-500 text-xs italic" th:errors="${student.enRegle}"></span>
            </div>
            <button type="submit" class="w-80 mt-6 bg-purple-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans"
                    >Create</button>
        </form>
    </div>
</main>
</body>
</html>